.index-summary{
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	background-color:#eeeeee;
	box-shadow: 5px 5px 5px #000000;
	border-radius: 20px;
}

.left-list{
	text-align:left;
}