/*
 * Globals
 */

body {
	background-color:#dddddd;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.main-content{
	margin-top:20px;
	background-color:#eeeeee;
	box-shadow: 5px 5px 5px #000000;
	border-radius: 20px;
}

.page-title{
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	background-color: white;
	box-shadow: 5px 5px 5px #000000;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}