/*
 * Globals
 */

body {
	background-color:#dddddd;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #333;
	margin-top: 0;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.main-content{
	margin-top:20px;
	background-color:#eeeeee;
	box-shadow: 5px 5px 5px #000000;
	border-radius: 20px;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #666666;
  box-shadow: 0 5px 5px #000000;
}

/* Nav links */
.blog-nav {

}
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  border-right:  5px solid transparent;
  border-left:   5px solid transparent;
  border-bottom: 5px solid;
}

.rss-btn{
	
}

.page-title{
	text-align:center;
	padding-top:20px;
	padding-bottom:10px;
	background-color: white;
	box-shadow: 5px 5px 5px #000000;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align:center;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.logo{
	text-align:center;
}

/* Sidebar modules for boxing content */
.blog-sidebar{
	padding-top: 20px;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

/* Pagination */
.pager {
  margin-bottom: 20px;
  text-align: center;
}
.pager > li > a {
  width: auto;
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px;
}

/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
	margin-top: 20px;
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.blog-index-title{
	font-size:28px;
}

