body{
	background-color:#dddddd;
}

h2{
	margin-left:30px;
}

.main-header{
	text-align:center;
}

.main-content{
	margin-top:20px;
	margin-bottom:50px;
	text-align:justify;
	background-color:white;
	box-shadow:5px 5px 5px black;
}

.common-text{
	margin:10px 50px 30px 20px;
	text-indent:2em;
}

p{
	padding-left: 20px;
}

.navbar-plan{
	position:fixed;
	right:5%;
	top:30px;
}