---
layout: default_layout
title: Archives
nav: navBlogs
css: ['blogs','sidebar']
scripts: ['angular.min','indexcontroler']
navbar: true
footer: true
---
		<div class="container" data-ng-app="blogvtecl">
			<div class="row">
				<div class="col-sm-3 page-title">
					<h1>Archives</h1>
				</div>
			</div>
			<div class="row" data-ng-controller="IndexController">
				<div class="col-sm-9 blog-main main-content">
					<!-- Liste des archives filtrées -->
					<ul class="posts list-unstyled">
						<div data-ng-repeat="post in posts">
							<div data-ng-if="isConcerned(post)">
								<li>
									<em>{[{ post.date}]}</em> &raquo; <a class="blog-index-title" href="{[{ post.url }]}">{[{ post.title }]}</a>
									<p class="blog-post-meta">
									{[{ post.resume }]}
									</p>
								</li>
							</div>
						</div>
					</ul>
					<!-- Fin de la liste -->
				</div>
				<!-- Début sidebar -->
				<div class="col-sm-2 col-sm-offset-1 sidebar">
					<!-- Filtre des archives -->
					<div class="filters">
						<h3 class="filters-title">Filtres</h3>
						<div class="sidebar-module">
							<h4>Dates</h4>
							<form class="forizontal-form" role="form">
								<div data-ng-repeat="m in months">
									<input type="checkBox" data-ng-model="m.checked"/><span> {[{m.name}]}</span>
								</div>
							</form>
						</div>
						<div class="sidebar-module">
							<h4>Tags</h4>
							<form class="horizontal-form" role="form">
								<div data-ng-repeat="t in tags">
									<input type="checkBox" data-ng-model="t.checked"/><span> {[{t.name}]}</span>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- Fin sidebar -->
			</div><!-- IndexController -->
		</div><!-- Angular application : blogvtecl -->