<div class="blog-footer">
	<div class="contact">
		<div class="g-person" data-width="273" data-href="//plus.google.com/104708481789266458099" data-layout="landscape" data-rel="author"></div>
	  <p>
		Franck Coutouly<br />
		Elève de Centrale Lyon<br />
		<a href="mailto:franck.coutouly@gmail.com">franck.coutouly@gmail.com</a>
	  </p>
	</div>
	<div class="contact">
	  <p>
		<a href="https://github.com/Towl">github</a><br />
		<a href="https://twitter.com/fcTowl">twitter.com</a><br />
	  </p>
	</div>
	<script type="text/javascript" src="{{site.baseurl}}/js/googlebadge.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/googleanalytics.js"></script>
</div>
