<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
			<span class="{{include.param}}"></span>
			<a id="navAccueil" class="blog-nav-item" href="{{site.baseurl}}/index.html">Accueil</a>
			<a class="blog-nav-item" href="{{site.baseurl}}/presentation/presentation.html">Présentation</a>
			<a id="" class="blog-nav-item" href="{{site.baseurl}}/exemple.html">Exemple</a>
			<a id="" class="blog-nav-item" href="{{site.baseurl}}/feed.rss">RSS</a>
			<a id="" class="blog-nav-item" href="{{site.baseurl}}/twitter.html">Twitter</a>
			<a id="" class="blog-nav-item" href="{{site.baseurl}}/pealr">PearlTrees</a>
		</nav>
	</div>
</div>
<script src="{{site.baseurl}}/js/navbar.js" type="text/javascript"></script>