
<!-- Début de la barre de navigation -->

<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
			<span class="{{include.param}}"></span>
			<a id="navAccueil" class="blog-nav-item" href="{{site.baseurl}}/index.html">Accueil</a>
			<a id="navBlogs" class="blog-nav-item" href="{{site.baseurl}}/blogs.html">Blogs</a>
			<a class="blog-nav-item" href="{{site.baseurl}}/feed.xml">RSS</a>
			<a id="navVeille" class="blog-nav-item" href="{{site.baseurl}}/veille.html">Veille</a>
			<a class="blog-nav-item" href="{{site.baseurl}}/presentation/index.html#/accueil">Slides</a>
			<!--a id="navForum" class="blog-nav-item" href="{{site.baseurl}}/comment.html">Forum</a-->
			<!--a id="navBiblio" class="blog-nav-item" href="{{site.baseurl}}/biblio.html">Bibli</a-->
		</nav>
	</div>
</div>

<!-- Fin de la barre de navigation -->