
<!-- Début de la pagination -->

{% if paginator.total_pages > 1 %}
<ul class="pager">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Précédent</a></li>
  {% endif %}
  
  {% for page in (1..paginator.total_pages) %}
    <li>
	{% if page == paginator.page %}
      <a class="btn btn-lg btn-hover btn-default pageindex active" href="">{{ page }}</a>
    {% elsif page == 1 %}
      <a class="btn btn-lg btn-hover btn-default pageindex" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="btn btn-lg btn-hover btn-default pageindex" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
	</li>
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Suivant &raquo;</a></li>
  {% endif %}
</ul>
{% endif %}

<!-- Fin de la pagination -->