
<!-- Début de la sidebar -->

<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module">
	<h4>A propos de l'auteur</h4>
	<div class="g-person" data-width="273" data-href="//plus.google.com/104708481789266458099" data-layout="landscape" data-rel="author"></div>
	<p>&lt;Ecrire quelques choses...&gt;</p>
  </div>
  <div class="sidebar-module">
	<h4>Archives</h4>
	<h6>{{include.param}}</h6>
	<ol class="list-unstyled">
		{% for post in site.posts %}
	  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ol>
  </div>
  <div class="sidebar-module">
	<h4>Ailleurs</h4>
	<ol class="list-unstyled">
	  <li><a href="https://github.com/Towl/vtecl">GitHub</a></li>
	  <li><a href="https://twitter.com/fcTowl">Twitter</a></li>
	  <li><a href="http://www.pearltrees.com/#/N-fa=10581869&N-reveal=5&N-u=1_1799482&N-p=103650699&N-s=1_10647669&N-f=1_10647669">PearlTree</a></li>
	  <li><a href="http://www.scoop.it/t/angularjs-firebase">Scoop-it</a></li>
	  <li><a href="Une page qui n'existe pas !">Netvibes</a></li>
	</ol>
  </div>
</div><!-- blog-sidebar -->

<!-- Fin de la sidebar -->