<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
		<title>{{ page.title }}</title>
{% for css in page.css %}
		<link rel="stylesheet" href="{{ site.baseurl}}/css/{{css}}.css"/>{% endfor %}
    </head>
    <body>

{% include navbar.html param=page.nav %}

<!-- Début du block principal -->
{{content}}		
<!-- Fin du block principal -->

{% include footer.html %}

<!-- Début du block de scripts -->
{% for script in page.scripts %}<script type="text/javascript" src="{{site.baseurl}}/js/{{script}}.js"></script>
{% endfor %}
<!-- Fin du block de scrips -->

    </body>
</html>
