<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width"/>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css"/>

		<!-- bootstrap -->
		<link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap-theme.css"/>
		
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css"/>

    </head>
    <body>
		<div class="blog-masthead">
			<div class="container">
				<nav class="blog-nav">
					<a class="blog-nav-item active" href="./index.html">Accueil</a>
					<a class="blog-nav-item" href="#">Exemple</a>
					<a class="blog-nav-item" href="#">RSS</a>
					<a class="blog-nav-item" href="./twitter.html">Twitter</a>
					<a class="blog-nav-item" href="#">PearlTrees</a>
				</nav>
			</div>
		</div>
		<div class="container">
		  <div class="blog-header">
			<h1 class="blog-title"><a href="/">{{ site.name }}</a></h1>
			<p class="lead blog-description"></p>
		  </div>
		  <div class="row">
			<div class="col-sm-8 blog-main">
			  {{ content }}
			</div>
			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
			  <div class="sidebar-module sidebar-module-inset">
				<h4>About</h4>
				<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
			  </div>
			  <div class="sidebar-module">
				<h4>Archives</h4>
				<ol class="list-unstyled">
					{% for post in site.posts %}
				  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
					{% endfor %}
				</ol>
			  </div>
			  <div class="sidebar-module">
				<h4>Elsewhere</h4>
				<ol class="list-unstyled">
				  <li><a href="https://github.com/Towl/vtecl">GitHub</a></li>
				  <li><a href="https://twitter.com/fcTowl">Twitter</a></li>
				  <li><a href="#">Facebook</a></li>
				</ol>
			  </div>
			</div><!-- blog-sidebar -->
		  </div>
		</div>
		<div class="blog-footer">
			<div class="contact">
			  <p>
				Your Name<br />
				What You Are<br />
				you@example.com
			  </p>
			</div>
			<div class="contact">
			  <p>
				<a href="https://github.com/yourusername">github.com/yourusername</a><br />
				<a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
			  </p>
			</div>
		</div>
    </body>
</html>
