<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
		<title>{{ page.title }}</title>
		
		<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{site.baseurl}}/css/main.css"/>
		{% if page.navbar %}<link rel="stylesheet" href="{{site.baseurl}}/css/navbar.css"/>{% endif %}
		{% if page.footer %}<link rel="stylesheet" href="{{ site.baseurl}}/css/footer.css"/>{% endif %}
		{% for css in page.css %}<link rel="stylesheet" href="{{ site.baseurl}}/css/{{css}}.css"/>
		{% endfor %}
    </head>
    <body>

		<!-- Début de la barre de navigation -->
		
{% if page.navbar %}
{% include navbar.html param=page.nav %}
{% endif %}

		<!-- Fin de la barre de navigation -->
		
		<!-- Début du block principal -->
		
{{content}}		

		<!-- Fin du block principal -->

		<!-- Début du footer -->
		
{% if page.footer %}
{% include footer.html %}
{% endif %}

		<!-- Fin du footer -->

		<!-- Début du block de scripts -->
		
		<script type="text/javascript" src="{{site.baseurl}}/js/googleanalytics.js"></script>
		{% if page.navbar %}<script type="text/javascript" src="{{site.baseurl}}/js/navbar.js"></script>{%endif%}
		{% for script in page.scripts %}<script type="text/javascript" src="{{site.baseurl}}/js/{{script}}.js"></script>
		{% endfor %}
		
		<!-- Fin du block de scrips -->

    </body>
</html>
