---
layout: default_layout
css: ['blogs','comments','post']
scripts: ['jquery','jquery.charcounter','angular.min','firebase','angularfire.min','comment','comment.controllers','comment.service.firebase','config']
navbar: true
footer: true
---
		<div class="container">
			<!-- Post content -->
			<div class="row">
				<div class="col-sm-9 blog-main main-content">
					<h2 class="blog-post-title">{{ page.title }}</h2>
					<p class="blog-post-meta">{{ page.date | date_to_string }}</p>
					<div class="post-content">
						{{content}}
					</div>
				</div>
			</div>
			<!-- End post content -->

{% include comments.html param=page.title %}
		</div><!-- container -->

