<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Franck Coutouly"/>
        <meta name="viewport" content="width=device-width"/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{site.baseurl}}/css/rapport.css"/>
    </head>
    <body>
{{content}}
		<!-- start scripts -->
		<script type="text/javascript" src="{{site.baseurl}}/js/googleanalytics.js"></script>
		<!-- end scripts -->
    </body>
</html>